<footer class="post-info">
    <p class="prompt">
        date
    </p>
    <p>{{ article.locale_date }}</p>
    <p class="prompt">
        whoami
    </p>
    <p>
        <a href="{{ SITEURL }}/author/{{ article.author }}.html" title="Read other articles by this author">
            {{ article.author }}
        </a>
    </p>
    <p class="prompt">
        ls
    </p>
    <p>comments content tags{% if article.attachments %} attachments{% endif %}{% if article.related_posts %} related{% endif %}</p>
    <p class="prompt">
        wc content
    </p>
    <p>{{ article.content|striptags|wordcount }}</p>
    <p class="prompt">cat content</p>
</footer><!-- /.post-info -->
