{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li>
                <a href="{{ SITEURL }}" title="{{ SITENAME }}">
                    <i class="fa fa-home fa-lg"></i>
                </a>
            </li>
            <li class="active">Archives</li>
        </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <h3 class="ps1">
            <span class="user-host">
                guest@{{ SITENAME|lower }}
            </span>
            <span class="path">
                /archives
            </span>
        </h3>
        <div class="panel">
            <div class="panel-body terminal">
                <p class="prompt">
                    ls -ot
                </p>
                {% for article in dates %}
                    -rw-r--r-- 1 {{ article.author }} {{ article.locale_date }}
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title|striptags }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
