{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <div>
                    <h3 class="summary">
                        <font color=green>
                            {{ article.author }}@{{ SITENAME|lower }}
                        </font>
                        <font color=#D7DF01>
                            ~/{{ article.url }}
                        </font>
                    </h3>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <p class="summary">
                            $ date
                            <br />
                            {{ article.locale_date }}
                        </p>
                    {% endif %}
                    <p class="summary">
                        $ cat teaser
                        <br />
                        <font style="font-size:130%;">
                            {{ article.title|striptags }}
                        </font>
                        {{ article.summary|safe }}
                    </p>
                    <p>
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">
                            more ...
                        </a>
                    </p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
    {% include 'includes/pagination.html' %}
{% endblock content %}
