{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <div>
                    <h3 class="ps1">
                        <span class="user-host">
                            {{ article.author }}@{{ SITENAME|lower }}
                        </span>
                        <span class="path">
                            ~/{{ article.url }}
                        </span>
                    </h3>
                    <div class="panel panel-body">
                        {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                            <p class="prompt">
                                date
                            </p>
                            <p>{{ article.locale_date }}</p>
                        {% endif %}
                        <p class="prompt">
                            cat teaser
                            <br />
                        </p>
                        <p>
                        <span class="article-title">
                            {{ article.title|striptags }}
                        </span>
                            {{ article.summary|safe }}
                            <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">
                                more ...
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <br>
        {% endfor %}
    {% endif %}
    {% include 'includes/pagination.html' %}
{% endblock content %}
